include ../helpers/mixins.jade

doctype html
html(lang="ru-RU")
  include ../partials/head.jade
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    include ../partials/header.jade
    .container
      include ../partials/navigation.jade
      block content
    include ../partials/footer.jade
    include ../partials/scripts.jade
