include ../helpers/mixins.jade

doctype html
html(lang="ru-RU")
  include ../partials/head.jade
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    include ../partials/header.jade
    .container
      .tabs-container
        include ../partials/tabs.jade
        .tabs-content-wrap
          .actions
            label.action-checkbox-label(for="main_checkbox") 
              input.action-checkbox(id="main_checkbox" type="checkbox" value="Select all" title="Select all")
              span Select all messages
            .action-buttons
              a.action-button#button_new(href="/new.html") New
              a.action-button#button_star(href="#") Star
              a.action-button#button_delete(href="#") Delete

          .tabs-content
            block content
    include ../partials/footer.jade
    include ../partials/scripts.jade
