/******  Используемые перменные и шрифты  ******/

/* ----------  @font-face ----------- */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&subset=cyrillic");

/* ------------- Colors ------------- */
$primaryColor: #45907b;
$secondaryColor: #f56435;

$bgColor: #fcfaf0;
$contentColor: #f7f2e0;
$darkenContentColor: darken($contentColor, 2%);
$hoverColor: #8ac1b2;
$trashColor: #ef4949;
$starColor: #facf28;

/* ------------- Base ------------- */

/* ----- Typography ----- */
$font: "Open Sans", sans-serif;
$fontSize: 14px;
$fontColor: #445361;
$secondaryfontColor: #777;
$lightFont: $bgColor;

/* ----- Borders & Box Shadow ----- */
$border: #e7debc;

/* ----- Screen breakpoints ----- */
$small: 320px;
$xsmall: 480px;
$medium: 768px;
$xmedium: 1024px;
$large: 1224px;
$xlarge: 1320px;
