.header {
  margin-bottom: 20px;
}

.header-logo {
  display: inline-block;
  width: 15%;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  @media only screen and (max-width: $xsmall) {
    height: 65px;
  }
}

.header-logo-img {
  width: 30px;
  margin: 15px 0 10px;
  transform: rotate(30deg);

  @media only screen and (max-width: $xsmall) {
    margin: 0;
  }
}

.header-logo-text {
  color: $primaryColor;
  font-weight: bold;
}

.header-nav-trigger {
  float: right;
  display: none;
  width: 25px;
  height: 25px;
  margin: 15px;
  background: svg-load("menu.svg") center center no-repeat;
  background-size: 100%;
  text-indent: -9999px;

  @media only screen and (max-width: $xsmall) {
    display: block;
    margin: 20px;
  }
}
