extends ../layouts/layout.jade

block content
  .content
    .content_actions
      label.content_actions-label.label(for="main_checkbox")
        input.content_actions-checkbox(id="main_checkbox", type="checkbox", value="Select all", title="Select all")
        span select all
      .content_actions-buttons
        a.content_actions-button.button#button_new(href="#") New
        a.content_actions-button.button#button_star(href="#") Star
        a.content_actions-button.button#button_delete(href="#") Delete

    .content-inner
      .content_info-msg.hidden List is empty
      ul.content_msg-list.inbox
      include new_msg_form.jade
