extends ../layouts/layout.jade

block content
  form.new-msg-form
    .form-inputs
      input.new-msg-title#new_msg_title(placeholder="Title")
    .form-inputs
      textarea.new-msg-text#new_msg_text(placeholder="Text...")
    input.new-msg-button(type="submit" value="Save")
