extends ../layouts/layout.jade

block content
  form.new-msg_form
    input.new-msg_title#new_msg_title(placeholder="Title")
    textarea.new-msg_text#new_msg_text(placeholder="Text...")
    input.new-msg_button(type="submit" value="Save")
