form.new-msg_form.hidden
  .new-msg_head
    h3.new-msg_head-title New message
    a.new-msg_link(href="#") Close
  input.new-msg_field.new-msg_title#new_msg_title(placeholder="title")
  textarea.new-msg_field.new-msg_text#new_msg_text(placeholder="type your message")
  input.new-msg_button.button(type="submit", value="Save")
