header.header
  a.header-logo(href="/")
    img.header-logo-img(src="img/paperplane.svg")
    i.header-logo-text Paperplane

  a.header-nav-trigger(href="#") Menu
  include ../partials/navigation.jade
