nav.nav.clearfix
  a.nav-link.active(href="/" title="Inbox") Inbox
  a.nav-link(href="/draft" title="Draft") Draft
  a.nav-link(href="/starred" title="Starred") Starred
  a.nav-link(href="/deleted" title="Deleted") Deleted
