nav.nav
  a.nav-link.active(href="/inbox" data-list="inbox") Inbox
  a.nav-link(href="/draft" data-list="draft") Draft
  a.nav-link(href="/starred" data-list="starred") Starred
  a.nav-link(href="/deleted" data-list="deleted") Deleted
