ul.tabs.clearfix
  +tabs([
    {
      name: 'Inbox',
      href: '/'
    },
    {
      name: 'Draft',
      href: '/draft.html'
    },
    {
      name: 'Starred',
      href: '/starred.html'
    },
    {
      name: 'Deleted',
      href: '/deleted.html'
    }
  ])
