.wrapper {
  width: 85%;
  margin: auto;

  @media (max-width: $medium) {
    width: 90%;
  }
}

.content {
  width: 100%;
  min-height: 80vh;
  padding: 20px;
  background: $contentColor;
  box-sizing: border-box;
  vertical-align: top;

  @media (max-width: $medium) {
    padding: 20px 10px;
  }
}

.content_info-msg {
  text-align: center;
  color: $secondaryfontColor;
  font-style: italic;
}

.content_actions-buttons {
  display: inline-block;
  border-radius: 3px;

  @media (max-width: $xsmall) {
    display: block;
    margin-bottom: 10px;
  }
}

.content_actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 10px;
  box-shadow: 0 15px 20px -8px $border;

  @media (max-width: $small) {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.content_actions-checkbox {
  display: inline-block;
  margin: 5px 0;
  vertical-align: middle;

  @media (max-width: $medium) {
    margin: 8px 15px 8px 0;
  }

  @media (max-width: $small) {
    margin: 2px 10px 0 0;
  }
}

.content_actions-label {
  span {
    display: none;

    @media (max-width: $small) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.draft,
.deleted {
  .content_msg-link {
    &.star {
      display: none;
    }
  }
}
