.wrapper {
  width: 85%;
  margin: auto;

  @media only screen and (max-width: $medium) {
    width: 90%;
  }
}

.content {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 20px;
  background: $contentColor;
  box-sizing: border-box;
  vertical-align: top;

  @media only screen and (max-width: $medium) {
    padding: 20px 10px;
  }
}

.content_info-msg {
  text-align: center;
  color: $secondaryfontColor;
  font-style: italic;
}

.content_actions-buttons {
  display: inline-block;
  border-radius: 3px;

  @media only screen and (max-width: $xsmall) {
    display: block;
    margin-bottom: 10px;
  }
}

.content_actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media only screen and (max-width: $small) {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.content_actions-checkbox {
  display: inline-block;
  margin: 5px 0;
  font-size: 20px;
  vertical-align: middle;

  @media only screen and (max-width: $medium) {
    margin: 8px 15px 8px 0;
  }

  @media only screen and (max-width: $small) {
    margin-right: 5px;
  }
}

.content_actions-label {
  span {
    display: none;

    @media only screen and (max-width: $small) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
