.button {
  display: inline-block;
  width: 75px;
  margin-right: 2px;
  padding: 2px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: $primaryColor;
  text-decoration: none;
  text-align: center;
  transition: background 0.6s;
  color: $lightFont;
  outline: none;
  font-weight: 600;

  &:hover,
  &.active {
    background: $hoverColor;
  }

  &.disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }

  &-last-child {
    margin-right: 0;
  }

  @media (max-width: $small) {
    width: 100%;
    padding: 5px 0;
    border-bottom-color: $lightFont;
    border-radius: 0;
  }
}

.label {
  display: inline-block;
  color: $secondaryfontColor;
}
