.content_msg-list {
  max-height: 68vh;
  overflow-y: auto;
}

.content_msg-item {
  margin-bottom: 5px;
  border-bottom: 1px solid $border;
}

.content_msg-inner {
  margin-bottom: 10px;
}

.content_msg-checkbox,
.content_msg-title,
.content_msg-actions {
  display: inline-block;
  vertical-align: middle;
}

.content_msg-checkbox {
  margin: 0;
  margin-right: 10px;

  @media (max-width: $small) {
    margin-right: 5px;
  }
}

.content_msg-title {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_msg-actions {
  float: right;
}

.content_msg-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: top;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;

  &:last-child {
    margin-right: 0;
  }

  &.open {
    background-image: svg-load("chevron-down.svg");
    background-size: 80%;
  }

  &.closed {
    background-image: svg-load("chevron-up.svg");
    background-size: 80%;
  }

  &.remove {
    background-image: svg-load("remove.svg", fill: $fontColor, stroke: $fontColor);
    background-size: 70%;

    &:hover {
      background-image: svg-load("remove.svg", fill: $trashColor, stroke: $trashColor);
    }
  }

  &.star {
    background-image: svg-load("star.svg", fill: $fontColor, stroke: $fontColor);
    background-size: 80%;

    &:hover,
    &.checked {
      background-image: svg-load("star.svg", fill: $starColor, stroke: $starColor);
    }
  }
}

.content_msg-text {
  padding: 10px;
  padding-left: 35px;
  background: $darkenContentColor;
  color: $secondaryfontColor;
  font-style: italic;
}
