.nav {
  width: 85%;
  text-align: right;

  @media (max-width: $xsmall) {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: none;
    background: $bgColor;
    border: 1px solid $border;
    text-align: left;
  }
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  border-top: 5px solid transparent;
  color: $fontColor;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 600;

  &:hover,
  &.active {
    color: $hoverColor;
  }

  &.active {
    background: $contentColor;
    border-top: 5px solid;

    @media (max-width: $xsmall) {
      border: 0;
    }
  }

  @media (max-width: $medium) {
    padding: 10px;
  }

  @media (max-width: $xsmall) {
    display: block;
    border: 0;
  }
}
