.new-msg_form {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 450px;
  padding: 20px;
  background: $bgColor;
  border: 1px solid $border;
  border-radius: 3px;
}

.new-msg_head {
  margin-bottom: 10px;
}

.new-msg_head-title {
  display: inline-block;
  margin: 0;
  color: $secondaryColor;
  font-size: initial;
  font-weight: normal;
}

.new-msg_link {
  float: right;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: svg-load("close.svg");
  background-size: cover;
  color: $primaryColor;
  text-indent: -9999px;
}

.new-msg_field {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: $fontColor;
  background: $contentColor;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: $border;
  }

  &::-webkit-input-placeholder {
    color: darken($contentColor, 30%);
  }

  &.error-field {
    border-color: $trashColor;
  }
}

.new-msg_title {
  padding: 5px 10px;
}

.new-msg_text {
  height: 150px;
  padding: 10px;
  resize: none;

  @media (max-width: $xsmall) {
    height: 100px;
  }
}

.new-msg_info {
  float: right;
  display: inline-block;
  color: $secondaryColor;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
