.new-msg_form {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 450px;
  padding: 20px;
  background: $bgColor;
  border: 1px solid $border;
  border-radius: 3px;
}

.new-msg_head {
  margin-bottom: 10px;
}

.new-msg_head-title {
  display: inline-block;
  margin: 0;
  color: $secondaryColor;
  font-size: initial;
  font-weight: normal;
}

.new-msg_link {
  float: right;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: svg-load("close.svg");
  background-size: cover;
  color: $primaryColor;
  text-indent: -9999px;
}

.new-msg_title,
.new-msg_text {
  &::-webkit-input-placeholder {
    color: darken($contentColor, 30%);
  }
}

.new-msg_title,
.new-msg_text {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: $fontColor;
  background: $contentColor;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: $border;
  }
}

.new-msg_title {
  padding: 5px 10px;
}

.new-msg_text {
  height: 150px;
  padding: 10px;
  resize: none;
}
